<table id="prices">
  <thead>
    <th>Job Name</th>
    <th>Hourly Rate</th>
    <th>Date From</th>
    <th>Date Till</th>
    <th>Operations</th>
  </thead>
  <tbody>
    <tr *ngFor="let price of prices">
      <td>{{price.jobName}}</td>
      <td>{{price.hourlyRate}}</td>
      <td>{{price.dateFrom}}</td>
      <td>{{price.dateTill}}</td>
      <td><button class="button btn-delete" (click)="deletePrice(price)">Delete</button>
        <button class="button btn-edit" (click)="updatePrice(price)">Edit</button></td>
    </tr>
  </tbody>
</table>
<button class="button btn-add" (click)="newPrice(price)">Add New Price</button>