<!DOCTYPE html>
<html>

<head>
  <title>Add new plan</title>
</head>

<body>

  <div class="full-width-div">
    <div class="container-fluid">

      <!-- Side navbar -->
      <div class="row no-gutters">
        <div class="col-md-4" no-float style="background-color:lavender;">

          <div class="container">
            <h3>Plano duomenys</h3>
            <hr>
            <form (ngSubmit)="processForm($event)">

              <div class="form-group">
                <!----------------- Picture upload ---------------------->
                <label class="custom-file-upload">
                  <input type="file" id="uploadButton" (change)="imgUplaod()" />
                  <i class="fa fa-cloud-upload"></i> <b>Įkelti planą</b>
                </label>
                <!------------------  ----------------------------------->
              </div>

              <div class="form-group">
                <label for="planName"><b><font color="#585858">Plano pavadinimas:</font></b></label>
                <input class="form-control" name="planName" id="planName" placeholder="Įveskite plano pavadinimą...">
              </div>

              <!-- Checkbox for measuring tool -->
              <label for="myonoffswitch"><b>Matavimo įrankis:</b></label>
              <div class="form-group">
                <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" (click)="measuringToolCheckBox()">
                  <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label for="measureCheckBox"><b>Atstumas (cm):</b></label>
                <input class="form-control" id="measureCheckBox" placeholder="Įveskite atstumą tarp taškų...">
              </div>

              <button type="submit" class="btn btn-primary">Išsaugoti</button>
            </form>
          </div>

        </div>

        <!-- Right side content container -->
        <div class="col-md-8" style="background-color:rgb(216, 216, 216);">
          <div class="row no-gutters">
            <!----------------------------- Canvas For Plan ---------------------------------------------->
            <canvas id="myCanvas" (click)="measuringToolCheckBox($event)">
              Your browser does not support the canvas element.
            </canvas>
            <!---------------------------------  --------------------------------------------------------->
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="info-box display--flex align-items--center">
    <div class="info-box-icon display--inline-block margin-right--small">
      <i class="icon icon-circle info-box-icon-circle font-size--larger"></i>
      <i class="icon icon-i info-box-icon-i"></i>
    </div>
    <div class="info-box-text display--inline-block">
      You can drag the marker on the map to choose the address or use the text field for searching. </div>
  </div>
</body>

</html>