<!DOCTYPE html>
<html>

<head>
  <title>Add new plan</title>
</head>

<body>

  <div class="full-width-div">
    <div class="container-fluid">

      <!-- Side navbar -->
      <div class="row no-gutters">
        <div class="col-md-4" no-float style="background-color:lavender;">

          <form (ngSubmit)="processForm()" class="addPlanForm">
            <H3>Plano informacija</H3><br>

            <div class="form group">

              <!----------------- Picture upload ---------------------->
              <label class="custom-file-upload">
                <input type="file" id="uploadButton" (change)="imgUplaod()" />
                <i class="fa fa-cloud-upload"></i> <b>Įkelti planą</b>
              </label>
              <!------------------  ----------------------------------->

              <br><br>
              <label for="planName">Plano pavadinimas</label>
              <input type="text" name="planName" class="form-control" placeholder="Įveskite plano pavadinimą...">
              <br>

              <!-- Checkbox for meassuring tool on/off -->
              Matavimo įrankis:
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" (click)="measuringToolCheckBox()">
                <label class="onoffswitch-label" for="myonoffswitch">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>

              <!-- Container for coordinates view  -->
              <p id="demo"></p>

              <label for="planName">Atstumas (cm)</label>
              <input type="text" id="measureCheckBox" name="planName" class="form-control" placeholder="Pasirinkite atkarpą žemėlapyje...">

            </div>
            <br>
            <input type="submit" value="save" class="btn btn-success">
          </form>

        </div>

        <!-- Right side content container -->
        <div class="col-md-8" style="background-color:rgb(216, 216, 216);">
          <div class="row no-gutters">
            <!----------------------------- Canvas For Plan ---------------------------------------------->
            <canvas id="myCanvas" (click)="measuringToolCheckBox($event)">
              Your browser does not support the canvas element.
            </canvas>
            <!---------------------------------  --------------------------------------------------------->
          </div>
        </div>

      </div>
    </div>
  </div>

</body>

</html>