table {
  width: auto !important;
}

/*
 upload-btn-wrapper tip REF.:
 https://blog.benestudio.co/custom-file-upload-button-with-pure-css-5aacf39aa0a
*/

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
