<div class="col-md-6">
    <h2 class="text-center">Įkainis</h2>
    <form (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for = "roomType">Kambario tipas:</label>
        <input id = "roomType" name= "roomType"
        [(ngModel)]="model.roomType" class="form-control">
      </div>
      <div class="form-group">
        <label for = "livingCost">Gyvenimo kaina:</label>
        <input id = "livingCost" name= "livingCost"
        [(ngModel)]="model.livingCost" class="form-control">
      </div>
      <div class="form-group">
          <label for = "homeServisesCost">Buitinių paslaugų kaina:</label>
          <input id = "homeServisesCost" name= "homeServisesCost"
          [(ngModel)]="model.homeServisesCost" class="form-control">
      </div>
      <div class="form-group">
          <label for = "incomePercent">Pelno procentas:</label>
          <input id = "incomePercent" name= "incomePercent"
          [(ngModel)]="model.incomePercent" class="form-control">
      </div>
      <div class="form-group">
          <label for = "dateFrom">Data nuo:</label>
          <input id = "dateFrom" name= "dateFrom"
          [(ngModel)]="model.dateFrom" class="form-control">
      </div>

      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-danger ml-1" (click)="onCancel()">Cancel</button>
    </form>
</div>
