<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}
</ngb-alert>
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <ngb-tabset [justify]="justified">
        <ngb-tab title="Registracija plane">
          <ng-template ngbTabContent>
            <br>
            <!-- Top selection meniu bar -->
            <div class="col-md-12">
              <mat-form-field>
                <mat-select placeholder="Pasirinkti planą" (selectionChange)="onMapSelected($event.value)">
                  <mat-option *ngFor="let plan of plan" [value]="plan.id">
                    {{plan.planName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-md-9 col-xlg-8">
                <canvas id="beaconRegCanvas" (click)="selectBeaconPlace($event)">
                  Your browser does not support the canvas element.
                </canvas>
              </div>
              <div class="col-md-3 col-xlg-2">
                <h3 class="card-title">Galimi siųstuvai</h3>
                <h6 class="card-subtitle">Pasirinkite siųstuvą iš sąrašo, pažymėtas siųstuvas atsiras plane. Nutemkite
                  atsiradusį siųstuvą į norimą vietą.</h6>

                <table mat-table [dataSource]="unusedBeaconsList">

                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <!-- Position Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Nr. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="beaconId">
                    <th mat-header-cell *matHeaderCellDef> Siustuvas </th>
                    <td mat-cell *matCellDef="let element"> {{element.beaconId}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsBeaconReg"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsBeaconReg;" (click)="selection.toggle(row)">
                  </tr>
                </table>
                <br>
                <button (click)="saveBeacOnPlan()" class="btn btn-block btn-success">IŠSAUGOTI</button>

              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <!--------------------------------- Beacon registration tab ---------------------------------->
        <ngb-tab title="Siųstuvo registracija">
          <ng-template ngbTabContent>
            <br>
            <div class="col-md-5">
              <form (ngSubmit)="processBeaconRegForm()">
                <div class="form-group">
                  <label for="beaconId">SIŲSTUVO KODAS:</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="beaconId" placeholder="Įveskite siųstuvo koda..."
                      [(ngModel)]="formBeacon.beaconId">
                    <span class="input-group-btn">
                      <input type="submit" value="IŠSAUGOTI" class="btn btn-success">
                    </span>
                  </div>
                </div>
              </form>
              <h6 class="card-subtitle">* Ši forma skirta sistemoje užregistruoti naują prietaisą, vėliau šį prietaisą
                galite užregistruoti įkeltame plane.</h6>
            </div>

            <div class="col-md-5">
              <br>
              <h3 class="card-title">Sistemoje užregistruoti siųstuvai</h3>
              <table mat-table [dataSource]="beacons" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Nr. </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="beaconId">
                  <th mat-header-cell *matHeaderCellDef> Siųstuvas </th>
                  <td mat-cell *matCellDef="let element"> {{element.beaconId}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEdit(row)">
                      <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onDelete(row)" color="warn">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsBeaconList"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsBeaconList;"></tr>
              </table>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Siųstuvai plane">
          <ng-template ngbTabContent>

            <div class="row">
              <div class="col-md-12 col-xlg-11">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Siųstuvai užregistruoti planuose</h3>
                    <h6 class="card-subtitle">Šioje lentelėje matote siųstuvus, kurie jau yra užregistruoti sistemoje
                      <br>
                      esančiosse planuose. Šiame lange taip galite ištrinti ar redaguoti siųstuvų informaciją.</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xlg-3">
                <div class="card">
                  <div class="card-body">

                    <table mat-table [dataSource]="beaconsInPlan" class="mat-elevation-z8">
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                      </ng-container>

                      <ng-container matColumnDef="beaconId">
                        <th mat-header-cell *matHeaderCellDef> Siųstuvas </th>
                        <td mat-cell *matCellDef="let element"> {{element.beaconId}} </td>
                      </ng-container>

                      <ng-container matColumnDef="plandId">
                        <th mat-header-cell *matHeaderCellDef> Planas </th>
                        <td mat-cell *matCellDef="let element"> {{element.plandId}} </td>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                          <button mat-icon-button (click)="onEditBeaconInPlan(row)">
                            <mat-icon>launch</mat-icon>
                          </button>
                          <button mat-icon-button (click)="onDeleteBeaconInPlan(row)" color="warn">
                            <mat-icon>delete_outline</mat-icon>
                          </button>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsBeaconInPlan"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsBeaconInPlan;"></tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-8 col-xlg-7">
                <div class="card">
                  <div class="card-body">
                    <canvas id="beaconInPlanCanvas">
                      Your browser does not support the canvas element.
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>