<div class="col-md-6">
    <h2 class="text-center">Darbo rezultatas</h2>
    <form (ngSubmit)="onSubmit()" >

      <div class="form-group">
        <label for = "lastName">Pavardė:</label>
        <input id = "lastName" name= "lastName"
          [(ngModel)]="model.lastName" class="form-control">
      </div>
      <div class="form-group">
        <label for = "firstName">Vardas:</label>
        <input id = "firstName" name= "firstName"
        [(ngModel)]="model.firstName" class="form-control">
      </div>
      <div class="form-group">
        <label for = "arivalDate">Atvykimo data:</label>
        <input id = "arivalDate" name = "arivalDate"
        [(ngModel)]="model.arivalDate" class="form-control">
      </div>
      <div class="form-group">
        <label for = "livedDays">Gyventa parų:</label>
        <input id = "livedDays" name= "livedDays"
        [(ngModel)]="model.livedDays" class="form-control">
      </div>
      <div class="form-group">
        <label for = "roomType">Kambario tipas:</label>
        <input id = "roomType" name= "roomType"
        [(ngModel)]="model.roomType" class="form-control">
      </div>

      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-danger ml-1" (click)="onCancel()">Cancel</button>
    </form>
</div>
