<form (ngSubmit)="processForm()">
  <div class="form group">
    <label for="jobName">Job Name</label>
    <input type="text" name="jobName" class="form-control" [(ngModel)]="price.jobName">
  </div>
  <div class="form group">
    <label for="hourlyRate">Hourly Rate</label>
    <input type="number" name="hourlyRate" class="form-control" [(ngModel)]="price.hourlyRate">
  </div>
  <div class="form group">
    <label for="dateFrom">Date From</label>
    <input type="date" name="dateFrom" class="form-control" [(ngModel)]="price.dateFrom">
  </div>
  <div class="form group">
    <label for="dateTill">Date Till</label>
    <input type="date" name="dateTill" class="form-control" [(ngModel)]="price.dateTill">
  </div>
  <br>
  <input type="submit" value="save" class="btn btn-success">
</form>