<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">

        <mat-form-field>
          <mat-select placeholder="Pasirinkti planą" (selectionChange)="onMapSelected($event.value)">
            <mat-option *ngFor="let plans of plans" [value]="plans.id">
              {{plans.planName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
  </div>


  <div class="col-md-12">
    <div class="card">
      <div class="card-body">

        <div>
          <canvas id="objectsRenderingCanvas" (click)="setRestrictedAreas($event)">
            Your browser does not support the canvas element.
          </canvas>
        </div>

      </div>
    </div>
  </div>
</div>