<body>
  <div class="addPlanLine">
    <button type="button" class="btn btn-success addPlanBtn" (click)="planAddPage()">Pridėti planą</button>
  </div>
  <br>
  <br>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Nr.</th>
          <th>Pavadinimas</th>
          <th>Siųstuvų kiekis</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>pavyzdys 1</td>
          <td>3</td>
        </tr>
        <tr>
          <td>2</td>
          <td>pavyzdys 2</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>