<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Fix for IntejiJ REF.: 
https://stackoverflow.com/a/44795811
 -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
</web-app>